!!! 5
html
  head
    title 管理
    link(rel="stylesheet",href="/assets/styles/bootstrap.min.css",type="text/css")
    link(rel="stylesheet",href="/assets/styles/bootstrap-theme.min.css",type="text/css")
    link(rel="stylesheet",href="/assets/styles/admin.css",type="text/css")
    
    script(type="text/javascript",src="/assets/scripts/jquery.min.js")
    script(type="text/javascript",src="/assets/scripts/bootstrap.min.js")
  body
    header
    block content
    footer

