extends 'admin/base'

block content
  br
  ol.breadcrumb
    li: a(href="/admin") 用户
    li.active 用户信息管理
  .content-wrap(ng-controller="UserCtrl")
    .row
      .col-xs-6
        button.btn.btn-default 新建+
      .col-xs-6
    br
    table.table.table-striped
      thead
        tr
          th 用户ID
          th 用户名称
          th 照片
          th 性别
          th 出生日期
      tbody
        tr(ng-repeat="u in list")
          td {{u.id}}
          td {{u.name}}
          td {{u.avatar}}
          td {{u.gender}}
          td {{u.dob}}
        tr(ng-hide="list.lenght > 0")
          td.nodata(colspan="5") 无任何数据
    ul.pagination
      li: a(href="#") 1
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header 编辑
        .modal-body asdf
        .modal-footer
          button.btn.btn-default 取消
          button.btn.btn-info 提交
