!!! 5
html(ng-app="siteApp")
  head
    title 中国平安黄丽娜
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet",href="/assets/styles/bootstrap.min.css",type="text/css")
    link(rel="stylesheet",href="/assets/styles/bootstrap-theme.min.css",type="text/css")
    script(type="text/javascript",src="/assets/scripts/jquery.min.js")
    script(type="text/javascript",src="/assets/scripts/underscore.min.js")
    script(type="text/javascript",src="/assets/scripts/bootstrap.min.js")
    script(type="text/javascript",src="/assets/scripts/angular.min.js")
    block head
  body
    block content
